{{!-- {{#each guide}}
name, photolink, age, activity, city, yearsofExperience, descriptionActivity
<h1>{{name}}</h1>
<h1>{{photolink}}</h1>
<h1>{{age}}</h1>
<h1>{{activit}}</h1>
<h1>{{city}}</h1>
<h1>{{yearsOfExperience}}</h1>
<h1>{{descriptionActivity}}</h1> --}}



{{#each icecreams }}
<h1>{{price}}</h1>
<h1>{{name}}</h1>
<h1>{{awesomeness}}</h1>
{{/each}}
