
    {{#each guideinfo}}
     <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <h4 id="fat">
            <div class="jumbotron">
                <img src={{photolink}} class="rounded float-right col-md-6">
                <h1>{{name}}</h1>
                <p>Age: {{age}}</p>
                <p>Years of experience: {{yearsofExperience}}</p>
                <p>{{activity}}</p>
                <p>{{city}}</p>
                <p>{{descriptionActivity}}</p>
                <a class="btn btn-primary btn-lg extendedInfo active" type="button radio" data-id={{guideID}} href="#" role="button">See full profile</a>
            </div>
        </h4>
        <p>...</p>

    </div>
    {{/each}}
    