
    {{#each guideinfo}}
     <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <h4 id="fat">
            <div class="jumbotron mt-3 bg-white pl-3 ml-3 mr-3 pt-3 pb-3 mb-5">
                <img src={{photolink}} class="rounded float-right col-md-4 border-secondary">
                <h1><strong>{{name}}</strong></h1>
                <br>
                <p><strong>Age: </strong>{{age}}</p>
                <p><strong>Years of experience: </strong>{{yearsofExperience}}</p>
                <p><strong>Activities: </strong>{{activity}}</p>
                <p><strong>City: </strong>{{city}}</p>
                <p><strong>Description: </strong>{{descriptionActivity}}</p>

                <a class="btn navyBlue text-white  btn-lg extendedInfo active" type="button radio" data-id={{guideID}} href="#" role="button">See full profile</a>
            </div>

                <a class="btn btn-primary btn-lg extendedInfo active" type="button radio" data-id={{guideID}} href="#" role="button">See full profile</a>
                <a class="btn btn-primary btn-lg chat-button active" type="button radio" href="./../public/assets/chat/public/index.html" role="button">Chat</a>

        </h4>
     
    </div>
    {{/each}}

    